@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --fs-small: 12px;
  --fs-regular: 14px;
  --fs-medium: 16px;
  --fs-large: 20px;
  --fs-xl: 28px;
  --fs-xxl: 36px;

  --font-inter: "Inter", sans-serif;

  --lh-small: 16px;
  --lh-regular: 20px;
  --lh-medium: 24px;
  --lh-large: 28px;
  --lh-xl: 36px;
  --lh-xxl: 44px;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
}
