:root {
  --shadow-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  --shadow-4: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
  --shadow-6: 0px 6px 12px 0px rgba(0, 0, 0, 0.10);
  --shadow-8: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
}
