.common {
  font-family: var(--font-inter);
  font-weight: var(--fw-medium);

  border: none;
  border-radius: 4px;
  outline: 1px solid transparent;

  transition-duration: .3s;
  transition-timing-function: linear;
  transition-property: color, outline-color, background-color;
}

.normal {
  font-size: var(--fs-regular);
  line-height: var(--lh-regular);

  &.icon>svg {
    width: 20px;
    height: 20px;
  }

  &.text-icon>svg {
    width: 16px;
    height: 16px;
  }
}

.big {
  font-size: var(--fs-medium);
  line-height: var(--lh-medium);

  &.icon>svg {
    width: 24px;
    height: 24px;
  }

  &.text-icon>svg {
    width: 20px;
    height: 20px;
  }
}

.text {
  text-align: center;
  padding: 8px 16px;

}

.text-icon {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.icon {
  padding: 8px;
  display: grid;
  place-items: center;
}


.color-primary {
  --main-color: var(--primary-main-color);
  --hover-color: var(--primary-hover-color);
  --pressed-color: var(--primary-pressed-color);
  --focus-color: var(--primary-focus-color);
  --secondary-color: var(--primary-secondary-color);
  --border-color: var(--primary-border-color);
}

.color-danger {
  --main-color: var(--danger-main-color);
  --hover-color: var(--danger-hover-color);
  --pressed-color: var(--danger-pressed-color);
  --focus-color: var(--danger-focus-color);
  --secondary-color: var(--danger-secondary-color);
  --border-color: var(--danger-border-color);
}

.color-warning {
  --main-color: var(--warning-main-color);
  --hover-color: var(--warning-hover-color);
  --pressed-color: var(--warning-pressed-color);
  --focus-color: var(--warning-focus-color);
  --secondary-color: var(--warning-secondary-color);
  --border-color: var(--warning-border-color);
}

.color-info {
  --main-color: var(--info-main-color);
  --hover-color: var(--info-hover-color);
  --pressed-color: var(--info-pressed-color);
  --focus-color: var(--info-focus-color);
  --secondary-color: var(--info-secondary-color);
  --border-color: var(--info-border-color);
}

.color-success {
  --main-color: var(--success-main-color);
  --hover-color: var(--success-hover-color);
  --pressed-color: var(--success-pressed-color);
  --focus-color: var(--success-focus-color);
  --secondary-color: var(--success-secondary-color);
  --border-color: var(--success-border-color);
}

.type-primary {
  color: var(--neutral-10-color);
  background-color: var(--main-color);

  &:hover:enabled {
    background-color: var(--hover-color);
  }

  &:active:enabled {
    background-color: var(--pressed-color);
  }

  &:focus {
    outline: 2px solid var(--focus-color);
  }

}

.type-secondary,
.type-outline {
  color: var(--main-color);
  background-color: var(--secondary-color);

  &:hover:enabled {
    color: var(--hover-color);
  }

  &:active:enabled {
    color: var(--pressed-color);
  }

  &:focus {
    outline: 1px solid var(--focus-color);
  }
}

.type-outline {
  outline: 1px solid var(--border-color);

  &:hover:enabled {
    outline-color: var(--hover-color);
  }

  &:active:enabled {
    outline-color: var(--pressed-color);
  }

  &:focus {
    outline-color: var(--focus-color);
  }
}

.type-text {
  background-color: transparent;
  color: var(--main-color);

  &:hover:enabled {
    color: var(--hover-color);
  }

  &:active:enabled {
    color: var(--pressed-color);
  }

  &:focus {
    outline: 1px solid var(--focus-color);
  }
}

.type-primary:disabled,
.type-secondary:disabled,
.type-outline:disabled {
  background-color: var(--neutral-20-color);
  color: var(--neutral-50-color);
}

.type-outline:disabled {
  outline: 1px solid var(--neutral-40-color);
}

.type-text:disabled {
  color: var(--neutral-50-color);
}
