:root {
  --primary-main-color: #5E47D2;
  --primary-secondary-color: #F7F5FF;
  --primary-border-color: #BCB0F5;
  --primary-hover-color: #694DF9;
  --primary-pressed-color: #220F7F;
  --primary-focus-color: #E2DCFF;

  --danger-main-color: #A82525;
  --danger-secondary-color: #FFE8E8;
  --danger-border-color: #E2B6B6;
  --danger-hover-color: #8C1F1F;
  --danger-pressed-color: #541212;
  --danger-focus-color: #FFDFDF;

  --warning-main-color: #E0CE2C;
  --warning-secondary-color: #FEFADC;
  --warning-border-color: #F5EFB9;
  --warning-hover-color: #BBAC25;
  --warning-pressed-color: #95891D;
  --warning-focus-color: #FDF8CF;

  --info-main-color: #0023DD;
  --info-secondary-color: #EBEEFF;
  --info-border-color: #AAB6F4;
  --info-hover-color: #001DB8;
  --info-pressed-color: #001793;
  --info-focus-color: #E2E7FF;

  --success-main-color: #21725E;
  --success-secondary-color: #E7FAF5;
  --success-border-color: #B5D0C9;
  --success-hover-color: #1B5F4E;
  --success-pressed-color: #164C3F;
  --success-focus-color: #C8EBE2;

  --neutral-10-color: #FFFFFF;
  --neutral-20-color: #F5F5F5;
  --neutral-30-color: #EDEDED;
  --neutral-40-color: #E0E0E0;
  --neutral-50-color: #C2C2C2;
  --neutral-60-color: #9E9E9E;
  --neutral-70-color: #757575;
  --neutral-80-color: #616161;
  --neutral-90-color: #424242;
  --neutral-100-color: #0A0A0A;
}
